@import "../base";


.categories-outer {
	display: flex;
	flex-direction: column;
	align-items: stretch; 
	justify-content: stretch;
	overflow: hidden;
	.hide-scrollbar();
	overflow-y: auto;

	h1.logo {
		text-align: center; 
		width: 100%;
	}

}

.categories {
	margin: auto;
	ul.cats {
		display: flex;
		flex-direction: row;
		width: 100%;
		flex-wrap: wrap;
		justify-content: center;
	}
}

.category {
	margin: 20px;
	text-align: center;

	a, a:visited, a:active {
		text-decoration: none;
		color: @console-color;
		background-color: @console-bg;
	}

	img.category-image {
		width: 200px;
		height: 200px;
		border-radius: 50%;
		border: 2px solid @border-color;
	}
	padding-top: 10px;
	.title {
		height: 30px;
		width: 100%;
	}
	visibility: hidden;
}




