// set main colors

@console-color: #14fdce;
@console-bg: #031e11;
@highlight-color: lighten(@console-color, 50%);
@thin-border-color: darken(@console-color, 30%);
@the-font: 'VT323';

//Media queries
@highdensity: ~"only screen and (-webkit-min-device-pixel-ratio: 1.5)",
              ~"only screen and (min--moz-device-pixel-ratio: 1.5)",
              ~"only screen and (-o-min-device-pixel-ratio: 3/2)",
              ~"only screen and (min-device-pixel-ratio: 1.5)";
@mobile:      ~"only screen and (max-width: 529px)";
@tablet:      ~"only screen and (min-width: 530px) and (max-width: 949px)";
@desktop:     ~"only screen and (min-width: 950px) and (max-width: 1128px)";
@desktop-xl:  ~"only screen and (min-width: 1129px)";

.multi-media (@mobile-rules, @tablet-rules, @desktop-rules) {
  @media @mobile { @mobile-rules(); }
  @media @tablet  { @tablet-rules(); }
  @media @desktop, @desktop-xl { @desktop-rules(); }
}


.app-dialog-dimensions {
  .multi-media ({
     margin: 16px;       
  }, {
      max-width: 640px;
      max-height: 480px;
  }, {
      max-width: 800px;
      max-height: 600px;
  });
}

.album-art-dimensions {
  .multi-media ({ //mobile
    width: 200px;
    height: 200px;
  }, { //tablet
    width: 250px;
    height: 250px;
  }, { //desktop
    width: 400px;
    height: 400px;
  });

}

// global settings

* {
  box-sizing: border-box;
}

body {
  background: #383838;
  color: @console-color;
  font-family: @the-font;
  font-size: 24px;
  -webkit-font-smoothing: none;
  line-height: 1.1;
}

h1 {
  font-size: 4rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
  font-weight: normal;
}

p {
  margin-bottom: 2rem;
}

a,
a:visited {
  //border-bottom: 0.2rem solid @console-color;
  color: @console-color;
  text-decoration: none;
}

a:active,
a:focus,
a.selected,
a.on {
  background-color: @console-color;
  color: @console-bg;
}

li {
  list-style: none;
}

ul {
  margin: 0;
  padding: 0;
}

.horiz-container {
  display: flex;
  flex-direction: row;
}

.centered-text {
  text-align: center;
}

.vert-container {
  display: flex;
  flex-direction: column;
}

.flex-grow1 {
  flex-grow: 1;
}

.v8px {
  height: 8px;
}

.v16px {
  height: 16px;
}

.x-small-text {
    font-size: 16px;
}

.pm-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2000;
}

.pm-modal {
  position: relative;
  display: block;
  border-radius: 23px;
  padding: 20px;
  overflow: auto;
  -ms-overflow-style: none;
  width: 100%;
  height: 100%;

  &--container {
    display: flex;
    margin: auto;
    padding: 20px 0;
    animation: fade-in 300ms linear;
    animation-fill-mode: both;
    z-index: 2001;
    width: 100%;
    height: 100%;
  }

  &--overlay {
    display: flex;
    align-items: center;
    justify-content: center;

    overflow-x: hidden;
    overflow-y: auto;
  }

  &--close {
    position: absolute;
    top: -10px;
    right: -10px;
    z-index: 2001;
  }
}

input::-ms-clear {
  display: none;
}

.scale-on-hover {
    transition: all .2s ease-in-out;
    &:hover {
      transform: scale(1.3);
    }
  }


.show-scaled {
  animation: 0.5s fadeIn;
  animation-fill-mode: both;
  @keyframes fadeIn {
    0% {
      transform: scale(0.1);
      transform: rotate(360deg);
      visibility: visible;
    }

    100% {
      transform: scale(1);
      visibility: visible;
    }
  }
}

.show-scaled-x {
  animation: 0.5s fadeInX;
  animation-fill-mode: forwards;
  @keyframes fadeInX {
    0% {
      transform: scaleX(0);
      visibility: visible;
    }

    100% {
      transform: scaleX(1);
      visibility: visible;
    }
  }
}

.hide-scaled-y {
  animation: 0.5 fadeOutY;
  animation-fill-mode: forwards;
  @keyframes fadeOutY {
    0% {
      transform: scaleY(1);
    }
    100% {
      transform: scaleY(0);
      visibility: hidden;
    }
  }
}

.show-scaled-y {
  animation: 0.5s fadeInY;
  animation-fill-mode: forwards;
  @keyframes fadeInY {
    0% {
      transform: scaleY(0);
      visibility: visible;
    }

    100% {
      transform: scaleY(1);
      visibility: visible;
    }
  }
}
