//---
@import "medialist/core";
@import "media-player/core";
@import "navbar/core";

.frame.tv {
  position: absolute; 
  top: 0; 
  bottom: 200px;
  overflow-y: scroll; 
}

.planeta-experience {
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center;
}

.media-page {
  display: flex; 
  flex-direction: column;
  justify-content: stretch;
  align-items: center;
  .components {
    width: 80%;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
    //Need to nest once more for "media-list"
    .toolbar.filters {
      margin-top: 16px;
      float: left;
    }
  }

  .page-title {
    text-align: center;
    margin: 0px;
  }  
}

.toggle-button {
  background-color: transparent;
  margin-right: 16px;
  border: 1px solid darken(@console-color, 30%);
  color: @console-color;
  font-size: 1em;
  font-family: @the-font;
  padding: 5px;
  cursor: pointer; 
  &.on {
    box-shadow: 0 0 5px @highlight-color;
  }
  &:focus {
    outline: none; 
  }
}

.accessory-button {
    font-size: 0.9em;
    cursor: pointer;
    display: block;
    margin: auto;
    width: 32px;
    height: 32px;
    text-align: center;
    border-radius: 50%;
    border: 2px solid @console-color; 
    line-height: 28px;

    &.selected {
      background: @console-color; 
      color: @console-bg; 
    }
  }

.button-icon {
  width: 24px;
}

.justify-left {
  justify-content: flex-start; 
}



