//---
@import "base.less";

.plamain {

}


.plamain > input {
	background-color: transparent;
	border: none;
}


.media-page {
	display: flex; 
	flex-direction: column;
	justify-content: center; 
}

.media-page .page-title {
	text-align: center;
}

.media-items {
	display: flex; 
	flex-flow: row wrap;
	justify-content: center; 
		@media (max-width: 478px) {
		text-align: center;
	}
}

.media-items:after {
	content: " ";
	flex: auto;
}

.media-items > .menu {
	min-width: 240px;
}

.menu {
	.title a {
		width: 100%;
		display: block;
		&.opened{
			color: red;
			font-size: 2.1rem;
			text-align: center; 
		}
		cursor: pointer;
	}
	ul {
		border: 1px solid @thin-border-color; 
	}
	ul.items {
		li a {
		}
	}
}



.search-component {
	display: flex; 
	flex-direction: column;
	align-items: center; 
}

.search-component .search-text {
	text-align: center; 
}
.search-component .filters {
	margin-top: 8px;
	height: 48px;
	float: left; 
}

button.toggle-button {
	background-color: transparent;
	margin-right: 16px;
	border: 1px solid darken(@console-color, 30%);
	img {
		width: 24px;
	}
	color: @console-color;
}

.button-icon {
	width: 24px;
}

