@import "base.less";

.vstack {
	display: flex; 
	flex-direction: column; 
}

.hstack {
	display: flex;
	flex-direction: row;
}

.hidden {
	display: none; 
}


.grow8 {
	flex-grow: 8;
}

.grow2 {
	flex-grow: 2;
}

.window {
	border: 2px solid @console-color;
	background-color: @console-bg;
	opacity: 0.9;
	border-radius: 23px;
	.content {
		margin: 4px;
	}
}

.player {
	z-index: 999;
	position: absolute; 
	bottom: 16px;
	height: auto;
	justify-content: center; 
	align-items: stretch;
	align-content: stretch;
	left: 25%;
	right: 25%;
	@media (max-width: 640px) {
		left: 8px;
		right: 8px;
	}
	
	.detail {
		padding: 20px;
	}

	&.detail {
		top: 16px;
		.toolbar {
			border-top: 1px solid @console-color;
		}
		.detail {
			bottom: 4px;
			flex-grow: 2;
		}

		.accessory-button {
			background: @console-color; 
			color: @console-bg; 
		}

	}

	.bottom-part {
		margin-top: 4px;
	}

	.content {
		height: 80px;
		display: flex;
		flex-direction: column; 
		justify-content: center;
	}

	.controls {
		.title-label {
			text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden; 
		}
		.time-label {
			text-align: right;
		}
		.progress-bar {
			flex-grow: 0;
			height: 8px;
			border: 1px solid @console-color;
			.progress-bar-progress {
				background-color: @console-color; 
				height: 100%;
				pointer-events: none; 
			}
		}

		.volume .progress-bar {
			width: 100px;
		}

		.player-buttons {
			.button {
				border: 1px solid darken(@console-color, 30%);
				border-radius: 6px;
				padding-left: 4px;
				padding-right: 4px;
				cursor: pointer;
			&:hover {
					background-color: @console-color;
				}
			}
		}

	}

	.accessory-button {
		font-size: 0.9em;
		cursor: pointer;
		display: block;
		margin: auto;
		width: 32px;
		height: 32px;
		text-align: center;
		border-radius: 50%;
		border: 2px solid @console-color; 
		line-height: 28px;
	}
}




















