@import "base";

.welcome-content {
	text-align: justify;
	margin: auto;
	.multi-media ({ //mobile
		margin: 16px;
	}, { //tablet
		max-width: 640px; 
		max-height: 480px;
	}, { //desktop
		max-width: 800px; 
		max-height: 600px;
	});

}

h1.ok-button {
	width: 100%;
	text-align: center;
	display: none;
}

.scale-out-animation
{
	//-webkit-animation: scale-out-center 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	//-moz-animation: scale-out-center 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	//animation: scale-out-center 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}