@import "../base";

.search-component {
	display: flex; 
	flex-direction: column;
	//align-items: center;
  .search-text {
  //text-align: center; 
  }
   
  input.search-box {
    background-color: transparent;
    border: none;
    font-size: 24px;
    -webkit-font-smoothing: none;
    line-height: 1.2;
    color: @console-color;
    font-family: 'VT323';
    text-transform: uppercase;
    border: 1px solid darken(@console-color, 30%);
    width:260px;
  }

  input.search-box:focus {
    outline: none !important;
    box-shadow: 0 0 5px lighten(@console-color, 30%);
    //border: 1px solid @console-color; 
  }

  ul.items {
    li .no-results {
      .message {
        color: red;
      }
    }
  }
}

