* {
  box-sizing: border-box;
}
body {
  background: #383838;
  color: #14fdce;
  font-family: 'VT323';
  font-size: 24px;
  -webkit-font-smoothing: none;
  line-height: 1.1;
}
h1 {
  font-size: 4rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
  font-weight: normal;
}
p {
  margin-bottom: 2rem;
}
a,
a:visited {
  color: #14fdce;
  text-decoration: none;
}
a:active,
a:focus,
a:hover,
a.selected {
  background-color: #14fdce;
  color: #031e11;
}
li {
  list-style: none;
}
ul {
  margin: 0;
  padding: 0;
}
.horiz-container {
  display: flex;
  flex-direction: row;
}
.vert-container {
  display: flex;
  flex-direction: column;
}
.flex-grow1 {
  flex-grow: 1;
}
.v8px {
  height: 8px;
}
.v16px {
  height: 16px;
}
.lv-cell .image-area {
  flex-grow: 0;
  width: 80px;
  height: 80px;
  min-width: 80px;
  min-height: 80px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}
.lv-cell .image-area img.image {
  margin: 0 auto;
  height: 100%;
  width: auto;
}
.lv-cell .content-area {
  padding-left: 16px;
  flex-grow: 2;
}
.lv-cell .accessory-area {
  flex-grow: 0;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#player-controls .progress-bar {
  height: 16;
  radius: 8;
  flex-grow: 0;
  height: 16px;
  border: 1px solid #14fdce;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
#player-controls .progress-bar .progress-bar-progress {
  background-color: #14fdce;
  height: 100%;
  pointer-events: none;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
.vstack {
  display: flex;
  flex-direction: column;
}
.hstack {
  display: flex;
  flex-direction: row;
}
.hidden {
  display: none;
}
.grow8 {
  flex-grow: 8;
}
.grow2 {
  flex-grow: 2;
}
.window {
  border: 2px solid #14fdce;
  background-color: #031e11;
  opacity: 0.9;
  border-radius: 23px;
}
.window .content {
  margin: 4px;
}
.player {
  z-index: 999;
  position: absolute;
  bottom: 16px;
  height: auto;
  justify-content: center;
  align-items: stretch;
  align-content: stretch;
  left: 25%;
  right: 25%;
}
@media (max-width: 640px) {
  .player {
    left: 8px;
    right: 8px;
  }
}
.player .detail {
  padding: 20px;
}
.player.detail {
  top: 16px;
}
.player.detail .toolbar {
  border-top: 1px solid #14fdce;
}
.player.detail .detail {
  bottom: 4px;
  flex-grow: 2;
}
.player .bottom-part {
  margin-top: 4px;
}
.player .content {
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.player .controls .progress-bar {
  height: 16;
  radius: 8;
  flex-grow: 0;
  height: 16px;
  border: 1px solid #14fdce;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
.player .controls .progress-bar .progress-bar-progress {
  background-color: #14fdce;
  height: 100%;
  pointer-events: none;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
.player .controls .title-label {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.player .controls .time-label {
  text-align: right;
}
.player .controls .volume-control {
  display: flex;
  align-items: center;
}
.player .controls .volume-control .accessory-button {
  height: 24px;
  width: 24px;
}
.player .controls .volume-control .progress-bar {
  width: 100px;
  height: 24px;
  border-radius: 12px;
}
.player .controls .volume-control .progress-bar .progress-bar-progress {
  border-radius: 12px;
}
.player .controls .player-buttons {
  display: flex;
}
.player .controls .player-buttons .button {
  border: 1px solid #01775f;
  border-radius: 6px;
  padding-left: 4px;
  padding-right: 4px;
  margin-right: 4px;
  cursor: pointer;
}
.player .controls .player-buttons .button:hover {
  background-color: #14fdce;
}
.player .accessory-button {
  font-size: 0.9em;
  cursor: pointer;
  display: block;
  margin: auto;
  width: 32px;
  height: 32px;
  text-align: center;
  border-radius: 50%;
  border: 2px solid #14fdce;
  line-height: 28px;
}
.player .accessory-button.selected {
  background: #14fdce;
  color: #031e11;
}
.media-item-detail {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  flex-wrap: wrap;
}
.media-item-detail .detail-image {
  margin-right: 20px;
}
.media-item-detail .detail-image img {
  width: 320px;
  height: 200px;
}
.media-item-detail .detail-info .top-part {
  display: flex;
  flex-direction: row;
}
.media-item-detail .detail-info .top-part .info-container {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.media-item-detail .detail-info .top-part .info-container .title {
  font-size: 2.1rem;
}
.media-item-detail .detail-info .top-part .info-container .tags {
  font-size: 1.2rem;
}
.media-item-detail .detail-info .description {
  margin-top: 16px;
}
