.media-item-detail {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  flex-wrap: wrap;
}
.media-item-detail .detail-image {
  margin-right: 20px;
}
.media-item-detail .detail-image img {
  width: 320px;
  height: 200px;
}
.media-item-detail .detail-info .top-part {
  display: flex;
  flex-direction: row;
}
.media-item-detail .detail-info .top-part .info-container {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.media-item-detail .detail-info .top-part .info-container .title {
  font-size: 2.1rem;
}
.media-item-detail .detail-info .top-part .info-container .tags {
  font-size: 1.2rem;
}
.media-item-detail .detail-info .description {
  margin-top: 16px;
}
