@import "../base";

.media-item-info-container {
    z-index: 998;
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;

    display: flex;
    flex-direction: column;
    justify-content: stretch;
    background-color: @console-bg;

    .min-button {
        position: absolute;
        top: 8px;
        right: 8px;
        width: 16px;
        height: 16px;
        cursor: pointer;
        z-index: 1001;
        .pressed {
            background-color: @console-color;
            color: @console-bg;
        }
    }

    .toolbar {
        margin-top: 16px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-color: @console-bg;
        flex-wrap: nowrap;
        flex-grow: 0;
        width: 100%;
        .toolbar-item {
            border: 1px solid @console-color;
            border-radius: 23px;
            vertical-align: middle;
            flex-grow: 0;
            text-align: center;
            cursor: pointer;
            margin-left: 5px;
            margin-right: 5px;
            padding: 8px;
            padding-left: 24px;
            padding-right: 24px;
            &:first-child {
            }

            &:last-child {
            }
            &:hover {
                background-color: @console-color;
                color: @console-bg;
            }
        } 

        @media @iphone, @mobile {
            flex-direction: column;
            margin-top: 16px;
            .toolbar-item {
                margin: 0;
                margin-top: 8px;
                width: 75%;
                padding: 4px;
            }
        }

    }//toolbar
} //media-item-info-container


.media-item-scroll-container {
    overflow-y: auto;
    .hide-scrollbar();
    top: 0; left: 0; bottom: 0; right: 0;
    padding: 10px;
    position: absolute;
}

.media-item-info {
    bottom: 4px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow-y: auto;
    .hide-scrollbar();

    span.key {
        text-align: right; 
        margin-right: 4px;
        font-size: 1.2rem;

    }
    span.value {
        text-align: left; 
        margin-left: 4px;
        font-size: 1.2rem;
    }

    .title {
        font-size: 2.1rem;
        text-align: center;
        flex-grow: 0;
        margin-bottom: 16px;
    }

    .type, .duration, .publish-on {
    }

    .tags-container {
        overflow: hidden; 
        width: 100%;
        padding-bottom: 8px;
    }

    .tags {
        width: 100%;
        .hide-scrollbar();
        font-size: 1.2rem;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        li {
            overflow: hidden;
            list-style: none;
            margin-left: 8px;
            margin-top: 8px;
            &:first-child { margin-left: 0; }
            a {
                display: inline-block;
                padding: 4px;
                border: 1px solid @console-color;
                border-radius: 23px;
                white-space: nowrap;
            }
        }
        flex-grow: 0;
    }

    .description {
        margin-top: 10px;
        text-align: center;
        margin-bottom: 10px;
    }

    .album-art-container {
        flex-basis: 20%;
        margin-top: 16px;
        height: 200px;
        flex-shrink: 1;
        display: flex;
        flex-direction: column; 
        align-items: stretch;
        position: relative;
        width: 100%;

        @media @iphone-l {
            display: none; 
        }

        .img-container {
            position: absolute;
            height: 100%;
            width: 100%;
            align-self: center;
            img {
                height: 100%;
                width: 100%;
                display: block;
                border-radius: 50%;
                border: 1px solid @console-color;
            }            
        }
    }   //.media-item-info      
}
