* {
  box-sizing: border-box;
}
body {
  background: #383838;
  color: #14fdce;
  font-family: 'VT323';
  font-size: 24px;
  -webkit-font-smoothing: none;
  line-height: 1.1;
}
h1 {
  font-size: 4rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
  font-weight: normal;
}
p {
  margin-bottom: 2rem;
}
a,
a:visited {
  color: #14fdce;
  text-decoration: none;
}
a:active,
a:focus,
a.selected,
a.on {
  background-color: #14fdce;
  color: #031e11;
}
li {
  list-style: none;
}
ul {
  margin: 0;
  padding: 0;
}
.horiz-container {
  display: flex;
  flex-direction: row;
}
.vert-container {
  display: flex;
  flex-direction: column;
}
.flex-grow1 {
  flex-grow: 1;
}
.v8px {
  height: 8px;
}
.v16px {
  height: 16px;
}
.search-component {
  display: flex;
  flex-direction: column;
}
.search-component .filters {
  margin-top: 16px;
  float: left;
}
input.search-box {
  background-color: transparent;
  border: none;
  font-size: 24px;
  -webkit-font-smoothing: none;
  line-height: 1.2;
  color: #14fdce;
  font-family: 'VT323';
  text-transform: uppercase;
  border: 1px solid #01775f;
  width: 260px;
}
input.search-box:focus {
  outline: none !important;
  box-shadow: 0 0 5px #acfeee;
}
ul.items li .no-results .message {
  color: red;
}
.media-item.detail {
  padding: 8px;
  border: 1px solid #01775f;
  border-radius: 12px;
  margin-bottom: 16px;
  margin-right: 20px;
  min-width: 240px;
  color: #14fdce;
}
.media-item.detail .title {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  text-shadow: none;
}
.media-item.detail .description {
  text-overflow: ellipsis;
  white-space: pre-wrap;
  overflow: hidden;
  font-size: 0.85em;
  -webkit-font-smoothing: antialiased;
  text-shadow: none;
  width: 160px;
}
.media-item.detail .lv-cell .image-area {
  width: 80px;
  height: 64px;
  min-width: 80px;
  min-height: 64px;
  border-radius: 8px;
}
@media (max-width: 478px) {
  .media-item.detail .lv-cell .image-area {
    display: none;
  }
}
.media-item.detail .lv-cell img {
  filter: grayscale(100%);
}
.media-item.detail .lv-cell:hover {
  cursor: pointer;
}
.media-item.detail .lv-cell:hover .title {
  color: #ffffff;
}
.media-item.detail .lv-cell:hover img {
  filter: none;
}
ul.items {
  margin: auto;
}
ul.items .media-item .description {
  margin-left: 10px;
}
.media-items {
  display: flex;
  flex-flow: column;
  justify-content: left;
}
.media-items > .menu {
  min-width: 240px;
}
.menu .title a {
  width: 100%;
  display: block;
  cursor: pointer;
}
.menu .title a.opened {
  font-size: 2.1rem;
}
.menu ul.items li {
  margin-left: 20px;
}
.alphabet {
  overflow-x: scroll;
  overflow-y: hidden;
  font-size: 2em;
  margin-bottom: 20px;
}
.alphabet ul {
  overflow: hidden;
  width: 1040px;
}
.alphabet ul li {
  display: inline-block;
  list-style: none;
  width: 40px;
  height: 40px;
}
.alphabet ul li a {
  width: 40px;
}
.by-letters .selected-letter {
  font-size: 2em;
  color: red;
  text-align: center;
}
.all-letters .letter {
  font-size: 2em;
}
.all-letters .letter .expanded {
  color: red;
}
