ul.items {
  margin: auto;
}
ul.items .media-item .description {
  margin-left: 10px;
}
.media-items {
  display: flex;
  flex-flow: column;
  justify-content: left;
}
.media-items > .menu {
  min-width: 240px;
}
.menu .title a {
  width: 100%;
  display: block;
  cursor: pointer;
}
.menu .title a.opened {
  font-size: 2.1rem;
}
.menu ul.items li {
  margin-left: 20px;
}
