ul.items {
  margin: auto;
}
.media-items {
  display: flex;
  flex-flow: column;
  justify-content: left;
}
.media-items > .menu {
  min-width: 240px;
}
.menu .title a {
  width: 100%;
  display: block;
  cursor: pointer;
}
.menu .title a.opened {
  color: red;
  font-size: 2.1rem;
}
