ul.items {
  margin: auto;
}
ul.items li.min-item {
  text-align: center;
}
.media-items {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
@media (max-width: 478px) {
  .media-items {
    text-align: center;
  }
}
.media-items > .menu {
  min-width: 240px;
}
.menu .title a {
  text-align: center;
  width: 100%;
  display: block;
  cursor: pointer;
}
.menu .title a.opened {
  color: red;
  font-size: 2.1rem;
}
.menu ul.items {
  padding-left: 10px;
}
