//This is the detail part of the media player
.media-item-detail {
    display: flex; 
    align-items: stretch;
    flex-direction: row; 
    justify-content: center;


    max-height: 240px;

    .detail-image {
        img {
            width: 320px;
            height: 200px;
        }
        margin-right: 20px;
    }

    .detail-info {
        .top-part {
            display: flex;
            flex-direction: row; 
            .info-container {
                flex: 1;
                display: flex;
                flex-direction: column;
                .title {
                    font-size: 2.1rem;
                    text-align: center;
                }
                .tags {
                    font-size: 1.2rem;
                }

                .times {
                    display: flex;
                    flex-direction: row; 
                    justify-content: center;
                }
                @media (max-height: 400px) { display: none; }
            }
        }
        .description {
            margin-top: 16px;
            @media (max-height: 400px) { display: none; }
        }        
    }
}