@import "progress-bar";

.hidden {
	display: none; 
}

//Heights mixin for various player states 
.player-heights () {

	//Default, minimised
	height: @player-height;

	&.detail-visible.video {
		@media (max-height: 800px) {
			top: 8px;
		}

		@media (min-height: 800px) {
			height: 800px;
		}		
	}

	&.detail-visible.audio {
		height: 100px;
	}
}

.player {
	position: absolute;
	bottom: 0;
	left: 0; right: 0;
	z-index: 3999;
	justify-content: center; 
	align-items: stretch;
	align-content: stretch;
	width: 100%;
	display: flex; 
	flex-direction: column; 
	border: 2px solid @console-color;
	background-color: @console-bg;
	border-radius: @ui-border-radius;

	.player-heights();

	.detail {
		display: none;
	}
	
	&.detail-visible {

		.detail {
			flex-grow: 1;
			display: flex;
			flex-direction: column;
			justify-content: flex-end; 
	
			.pm-media-player {
				.react-player {
					margin-top: auto;
					margin-bottom: auto;
				}
			}

		} //.detail
	
		.toolbar {
			border-bottom: 1px solid @console-color;;
			display: flex;
			flex-direction: row;
			justify-content: space-around;
			width: 100%;
			flex-wrap: nowrap;
			height: 26px;

			.toolbar-item {
				border-right: 1px solid @console-color;
				width: 100px;
				flex-grow: 1;
				text-align: center;
				&:last-child {
					border-right: none;
				}
				cursor: pointer;
			} 

		    .position-and-duration {
		        display: flex;
		        flex-direction: row; 
		        justify-content: center;
		        .duration {
		        }
		    }				
		}//toolbar
	}

	.bottom-part {
		margin-top: 4px;
	}

	.content {
	//	height: 80px;
		display: flex;
		flex-direction: column; 
		justify-content: center;
		margin: 4px;
	}

	.controls {
		
		@import "volume-control";
		
		.progress-bar {
			#player-controls > .progress-bar;
		}

		.title-and-time {
			position: relative;
			width: 100%;
			.title-label {
				text-overflow: ellipsis;
				white-space: nowrap;
				overflow: hidden; 
				display: inline;
			}
			.time-label {
				display: inline;
				text-align: right;
				max-width: 120px;
				float: right;
			}
		}

		.button-spacer {
			flex-grow: 1;
		}

		.player-buttons {
			display: flex;
			flex-grow: 0;
		}
	}

	.min-player {
		.controls {
			display: flex;
			flex-flow: row;
			align-items: center;
			position: relative;
		}

		.song-progress {
			flex-grow: 2;
			margin-left: 4px;
			margin-right: 4px;
		}

		.accessory-button {
			font-size: 14px;
			margin-right:4px;
			z-index: 10;
		}

		.volume-control .accessory-button {
			font-size: 16px;
			margin-right:4px;
			z-index: 10;			
		}
	}
}



















