@import "progress-bar";

.hidden {
	display: none; 
}

//Heights mixin for various player states 
.player-heights () {

	//Default, minimised
	//height: @player-height;

	@media (min-width: 1064px) {
		margin-left: 20%;
		margin-right: 20%;
		max-width: 1064px;

	}

	&.detail-visible.video {
		@media (max-height: 800px) {
			top: 8px;
		}

		@media (min-height: 800px) {
			height: 800px;
		}
	}

	&.detail-visible.audio {
		height: 100px;
	}
}

.player {
	position: absolute;
	bottom: 8px;
	left: 8px; right: 8px;
	z-index: 3999;
	justify-content: flex-end; 
	align-items: stretch;
	align-content: stretch;
	display: flex; 
	flex-direction: column; 
	border: 2px solid @border-color;
	background-color: @console-bg;
	border-radius: @ui-border-radius;

	.player-heights();

	.detail {
		display: none;
	}
	
	&.detail-visible {

		&.audio {
			.pm-media-player {
				display: none;
			}

			.react-player {
				display: none;
			}
		}

		.detail {
			flex-grow: 1;
			display: flex;
			flex-direction: column;
			justify-content: flex-start; 
	
			.pm-media-player {
				flex-grow: 1;
				display: flex;
				flex-direction: column;
				align-items: stretch;
				position: relative;
				.react-player {
					border: 2px solid @border-color;
					border-radius: 23px;
					overflow: hidden;
					position: absolute;
					@margin: 16px; //this is a variable, not a typo
					left: @margin; right: @margin;
					top: @margin; bottom: @margin;
				}
			}

			.title-container {
				display: flex;
				flex-direction: row;
				justify-content: center;
				align-items: center;
				.title {
					margin: 0;
					text-align: center;
					cursor: pointer; 
				}
				.item-icon {
					width: 50px;
					height: 50px;
					border: 1px solid @border-color;
					border-radius: 50%;
					margin-right: 8px;
				}
			}
		} //.detail
	} //.detail-visible

	.bottom-part {
		margin-top: 4px;
	}

	.content {
		flex-grow: 0;
		flex-basis: 30px;
		height: 30px;
		display: flex;
		flex-direction: column; 
		justify-content: center;
		margin: 4px;
	}

	&.fullscreen {
		&:not(.controls-visible) {
			border: none;
			.detail {
				.title-container {
					display: none;
				}
				.pm-media-player .react-player {
					top: 0;
					bottom: 0;
					left: 0;
					right: 0;
					border: none;
				}			
			}
			.content {
				display: none;
			}			
		}
	}
	

	.controls {
		
		@import "volume-control";

		.progress-bar {
			#player-controls > .progress-bar;
		}

		.button-spacer {
			flex-grow: 1;
		}

		.player-buttons {
			display: flex;
			flex-grow: 0;
		}

		.song-progress {
			display: flex;
			flex-direction: row;
			flex-grow: 2;
			margin-left: 4px;
			margin-right: 4px;
			display: flex;
			.progress-bar { flex-grow: 1; }
			.time-label {
				width: 30px;
				text-overflow: hidden;
				flex-grow: 0;
				font-size: 14px;
				&.current {
					margin-right: 4px;
				}

				&.duration {
					margin-left: 4px;
				}
			}
		}
	}

	.min-player {
		.controls {
			display: flex;
			flex-flow: row;
			align-items: center;
			position: relative;
		}

		.accessory-button {
			font-size: 14px;
			margin-right:4px;
			z-index: 10;
		}

		.volume-control .accessory-button {
			font-size: 16px;
			margin-right:4px;
			z-index: 10;			
		}
	}
}



















