@import "progress-bar";
@import "volume-control";

.vstack {
	display: flex; 
	flex-direction: column; 
}

.hstack {
	display: flex;
	flex-direction: row;
}

.hidden {
	display: none; 
}


.grow8 {
	flex-grow: 8;
}

.grow2 {
	flex-grow: 2;
}

.window {
	border: 2px solid @console-color;
	background-color: @console-bg;
	opacity: 0.9;
	border-radius: 23px;
	.content {
		margin: 4px;
	}
}

.player {
	z-index: 999;
	position: absolute; 
	bottom: 16px;
	height: auto;
	justify-content: center; 
	align-items: stretch;
	align-content: stretch;
	left: 25%;
	right: 25%;
	@media (max-width: 640px) {
		left: 8px;
		right: 8px;
	}
	
	.detail {
		padding: 20px;
	}

	&.detail {
		top: 16px;
		.toolbar {
			border-top: 1px solid @console-color;
		}
		.detail {
			bottom: 4px;
			flex-grow: 2;
		}
	}

	.bottom-part {
		margin-top: 4px;
	}

	.content {
		height: 80px;
		display: flex;
		flex-direction: column; 
		justify-content: center;
	}

	.controls {
		
		.progress-bar {
			#player-controls > .progress-bar;
		}

		.title-label {
			text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden; 
		}
		.time-label {
			text-align: right;
		}

		.volume-control {
			display: flex; 
			align-items: center; 
			.accessory-button {
				height: 24px;
				width: 24px;
			}
			.progress-bar {
				width: 100px;
				height: 24px;
				border-radius: 12px;
				.progress-bar-progress {
					border-radius: 12px;
				}
			}
		}


		.player-buttons {
			display: flex; 

			.button {
				border: 1px solid darken(@console-color, 30%);
				border-radius: 6px;
				padding-left: 4px;
				padding-right: 4px;
				margin-right: 4px;
				cursor: pointer;
			&:hover {
					background-color: @console-color;
				}
			}
		}

	}
}




















