@import "../base";
#player-controls {
	.progress-bar {
		height: 16; 
		radius: 8; 
		flex-grow: 0;
		height: 16px;
		border: 1px solid @console-color;
		border-top-right-radius: 8px;
		border-bottom-right-radius: 8px;
		.progress-bar-progress {
			background-color: @console-color; 
			height: 100%;
			pointer-events: none; 
			border-top-right-radius: 8px;
			border-bottom-right-radius: 8px;
		}
	}	
}
