* {
  box-sizing: border-box;
}
body {
  background: #383838;
  color: #14fdce;
  font-family: 'VT323';
  font-size: 24px;
  -webkit-font-smoothing: none;
  line-height: 1.1;
}
h1 {
  font-size: 4rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
  font-weight: normal;
}
p {
  margin-bottom: 2rem;
}
a,
a:visited {
  color: #14fdce;
  text-decoration: none;
}
a:active,
a:focus,
a:hover,
a.selected {
  background-color: #14fdce;
  color: #031e11;
}
li {
  list-style: none;
}
ul {
  margin: 0;
  padding: 0;
}
.horiz-container {
  display: flex;
  flex-direction: row;
}
.vert-container {
  display: flex;
  flex-direction: column;
}
.flex-grow1 {
  flex-grow: 1;
}
.v8px {
  height: 8px;
}
.v16px {
  height: 16px;
}
.lv-cell .image-area {
  flex-grow: 0;
  width: 80px;
  height: 80px;
  min-width: 80px;
  min-height: 80px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}
.lv-cell .image-area img.image {
  margin: 0 auto;
  height: 100%;
  width: auto;
}
.lv-cell .content-area {
  padding-left: 16px;
  flex-grow: 2;
}
.lv-cell .accessory-area {
  flex-grow: 0;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
