* {
  box-sizing: border-box;
}
body {
  background: #383838;
  color: #14fdce;
  font-family: 'VT323';
  font-size: 24px;
  -webkit-font-smoothing: none;
  line-height: 1.2;
}
h1 {
  font-size: 4rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
  font-weight: normal;
}
p {
  margin-bottom: 2rem;
}
a,
a:visited {
  color: #14fdce;
  text-decoration: none;
}
a:active,
a:focus,
a:hover {
  background-color: #14fdce;
  color: #031e11;
}
li {
  list-style: none;
}
ul {
  margin: 0;
  padding: 0;
}
.vstack {
  display: flex;
  flex-direction: column;
}
.hstack {
  display: flex;
  flex-direction: row;
}
.window {
  border: 2px solid #14fdce;
  background-color: #031e11;
  opacity: 0.9;
  border-radius: 23px;
}
.window .toolbar {
  border-bottom: 1px solid #14fdce;
  height: 40px;
}
.window .content {
  margin: 8px;
}
.lv-cell .image-area {
  flex-grow: 0;
  width: 80px;
  height: 80px;
  min-width: 80px;
  min-height: 80px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}
.lv-cell .image-area img.image {
  margin: 0 auto;
  height: 100%;
  width: auto;
}
.lv-cell .content-area {
  padding-left: 16px;
  flex-grow: 2;
}
.lv-cell .accessory-area {
  flex-grow: 0;
  width: 50px;
}
.grow8 {
  flex-grow: 8;
}
.grow2 {
  flex-grow: 2;
}
.player {
  z-index: 999;
  position: absolute;
  bottom: 16px;
  height: 140px;
  justify-content: center;
  align-items: stretch;
  align-content: stretch;
  left: 20%;
  right: 20%;
}
@media (max-width: 478px) {
  .player {
    left: 8px;
    right: 8px;
  }
}
.player .bottom-part {
  margin-top: 10px;
}
.player .content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.player .controls .title-label {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.player .controls .time-label {
  text-align: right;
}
.player .controls .progress-bar {
  flex-grow: 0;
  height: 6px;
  border: 1px solid #14fdce;
}
.player .controls .progress-bar .progress-bar-progress {
  background-color: #14fdce;
  height: 100%;
}
.player .controls .player-buttons .button {
  border: 1px solid #01775f;
  border-radius: 6px;
  padding-left: 4px;
  padding-right: 4px;
}
.player .controls .player-buttons .button:hover {
  background-color: #14fdce;
}
.player .accessory-button {
  display: block;
  margin: auto;
  width: 32px;
  height: 32px;
}
