.search-component {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.search-component .search-text {
  text-align: center;
}
.search-component .filters {
  margin-top: 8px;
  height: 48px;
  float: left;
}
.search-component .filter-icon {
  height: 24px;
  margin-right: 16px;
}
