body {
	background-color: #999;
	font-family: 'Orbitron', sans-serif;
}

h1, h2, h3 {
	color: #000;
}
h1 {
	font-size: 2.5em
}

h2 {
	font-size: 2em
}

h3 {
	font-size: 1.5em
}

a {
	text-decoration: none;
	color: #09f;
}

a:hover {
	text-decoration: underline;
}

a:link {
	color: #eee; 
	text-decoration: underline;
}


.horiz-container {
	display: flex;
	flex-direction: row;
}

.vert-container {
	display: flex;
	flex-direction: column;
}

.stretch-container {
	flex-grow: 1;
}

.extender {
	flex-grow: 1;
}