
.lhead {
	min-width: 240px;
	position: relative;	/* Need this to position the logo*/
}

/*
PM logo position centered 
*/

.lhead .content-c {
	position: absolute;
	left: 50%;
}

.lhead .content-i {
	position: relative; 
	left: -50%;
	top: 37px;
}

/* Logo extender */
.lhead .extender {
	background-image: url(../images/lhead-extend.png);
	background-repeat: repeat-x; 
}


.mhead {
	width: auto;
	/* flex-grow: 1; */
}

.mhead .extender {
	background-image: url(../images/mhead-extend.png);
	background-repeat: repeat-x; 
}

.mhead .logo {
	position: absolute; 
	top: 12px;
	right: 100px;
}

.mindic .extend {
	background-image: url(../images/mindic-extend.png);
	background-repeat: repeat-x;
	flex-grow: 1;
}
