
.nav-menu {
	background-color: #B1B4BB;
	flex-grow: 1;
}

.nav-menu ul {
	margin-left: 12px;
	margin-top: 1.25em;
	margin-right: 12px;
	padding: 0;
}

.nav-menu a:link, a:active, a:visited {
	text-decoration: none;
	color: #555;
	font-size: 1.2em;
}

.nav-menu a:hover {
    text-decoration: underline; 
    color: #eee;
}

.nav-menu li {
	list-style: none;
	height: 2.5em;
	text-align: center;
}
