@import "../base";

@max-width: 500px;

.explorer {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	margin-top: 20px;

	.toolbar {
		display: flex;
		flex-direction: row; 
		justify-content: center;
	}
	
	@media desktop {
		margin-left: 200px;
		margin-right: 200px;
	}

	@media tablet {
		margin-left: 100px;
		margin-right: 100px;
	}

	@media mobile {
		margin-left: auto;
		margin-right: auto;
	}

	.items {
		flex-grow: 0;
		display: flex;
		flex-direction: column;
		justify-content: stretch;

		.item {

			a {
				&:focus {
					.item-container {
						background-color: @console-color; 
						color: @console-bg; 
					}
				}
				.item-container {
					background-color: @console-bg; 
					color: @console-color; 
				}
			}
			.item-container {
				&:hover {
					//background-color: @console-color;
					//color: @console-bg;
				}

				border: 1px solid @console-color;
				padding: 8px;
				height: 70px;

				margin-top: 24px;
				border-radius: 23px;

				display: flex;
				align-items: center;
				img.thumbnail {
					width: 60px;
					height: 60px;
					min-width: 60px;
					border-radius: 50%;
					//border: 1px solid white;
					flex-grow: 0;
				}
				.item-info {
					flex-grow: 1;
					display: flex;
					flex-direction: column;
					justify-content: stretch;
					margin-left: 8px;
					.title {
						text-transform: uppercase;
					}

					.description {
						@media @mobile {
							display: none;
						}
						white-space: nowrap;
						overflow: hidden;
						text-overflow: ellipsis;
						max-width: @max-width;
					}

		            .tags {
		                font-size: 1.2rem;
		                display: flex;
		                li {
		                    list-style: none;
		                    margin-left: 4px;
		                    &:first-child { margin-left: 0; }
		                }
		            }

				}
				.item-more-info {
					flex-grow: 0;
					min-width: 65px;

					.published {
						font-size: 14px;
						@media @mobile { display: none;}
					}
				}
			}
		}
	}

	.taglist {
		margin-top: 15px;
		text-align: center;
		cursor: pointer;
		width: 100%;
		border: 1px solid @console-color;
		border-radius: 32px;
	}

	.glass {
		opacity: 0.7;
		width: 100%;
		height: 100%;
		position: absolute;
		background-color: @console-bg;
		top:0;
		left:0;
		z-index: 0;
	}	
}


.tag-editor {
	position: absolute;
	border: 1px solid @console-color;
	margin: auto;
	top: 0; bottom: 50px; left: 0; right: 0;
	overflow: hidden;
	background-color: @console-bg;
	border-radius: 23px;

	.app-dialog-dimensions();

	.buttons {
		margin-top: 20px;
		margin-bottom: 20px;
		border-bottom: 1px solid @console-color;
		display: flex;
		align-items: space-between;
		justify-content: center;
		padding-bottom: 10px;
		.all-tags, .gata {
			padding: 10px;
			border: 2px solid @console-color;
			text-align: center;
			cursor: pointer;
			max-width: 70px;
			margin-left: 10px;
			&.selected {
				background-color: @console-color;
				color: @console-bg;
			}
		}			
	}

	.min-button {
		position: absolute;
		right: 4px;
		top: 4px;
	}

	.tags-container {
		position: absolute;
		height:80%;
		width:100%;
		overflow: auto;
  	    -ms-overflow-style: none;
	}

	ul.tags {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		align-content: space-around;
		li.tag {
			background-color: @console-bg;
			padding: 10px;
			border: 1px solid @console-color;
			margin: 10px;
			cursor: pointer;
			&.selected {
				background-color: @console-color;
				color: @console-bg;
			}
			opacity: 1;
		}
	}
}