@import "../base";

@max-width: 200px;

@thumbnail-size: 60px;

.explorer {
	display: flex;
	flex-direction: row;
	align-items: stretch;
	width: 100%;
	height: 100%;
	overflow: hidden;

	.current-item {
		display: none;
		.device(@ipad-l, {
			display: block;
		});
	}

	.media-list {
		display: flex;
		flex-direction: column;
		align-items: stretch;

		.device(@iphone, @iphone-l; {
			margin-left: 16px;
			margin-right: 16px;
		});

		.device(@ipad, {
			margin-left: auto;
			margin-right: auto;
		});

		.category {
			align-self: center;
			img.category-image {
				width: 100px;
				height: 100px;
			}
		}

		.toolbar {
			margin-top: 8px;
			height: 40px;
			.toggle-group {
				display: flex;
				flex-direction: row; 
				justify-content: center;
			}
		}

		.items {
			flex-grow: 1;
			display: flex;
			flex-direction: column;
			justify-content: stretch;
			margin: 0;
			overflow-y: auto;

			.item {
				margin-top: 16px;

				a {
					&:focus {
						.item-container {
							background-color: @console-color; 
							color: @console-bg; 
						}
					}
					.item-container {
						background-color: @console-bg; 
						color: @console-color; 
					}
				}

				.item-container {
					.dialog-shadow();
					
					border: 1px solid @console-color;
					padding: 10px 14px 10px 10px;
					border-radius: 23px;
					display: flex;
					flex-direction: column;
					.primary-info {
						display: flex;
						align-items: center;

						img.thumbnail {
							width: @thumbnail-size;
							height: @thumbnail-size;
							min-width: @thumbnail-size;
							border-radius: 50%;
							//border: 1px solid white;
							flex-grow: 0;
							object-fit: cover;
						}

						.item-info {
							flex-grow: 1;
							display: flex;
							flex-direction: column;
							margin-left: 8px;
							max-height: 60px;

							.title {
								text-transform: uppercase;
								overflow: hidden;
								text-overflow: ellipsis;
								height: 30px;
								max-height: 30px;
								flex-grow: 1;
							}

							.description {
								height: 30px;
								overflow-x: auto;
								.hide-scrollbar();
								position: relative;
								flex-grow: 1;
								.description-text {
									position: absolute;
									white-space: nowrap;
								}						
							}
						}	//item-info			
					} //primary-info

					.detail-info {
						margin-top: 8px;
						display: flex;
						flex-direction: row;
						flex-wrap: nowrap;
						font-size: 14px;
						.det {
							flex-grow: 1;
							border-left: 1px dotted @console-color;
						}

						.type {
							width: @thumbnail-size;
							max-width: @thumbnail-size;
							text-align: center;
							border-left: none; 
						}

						.duration {
							max-width: 50px;
							width: 50px;
							text-align: center;
						}

						.publish-on {
							text-align: right; 
							padding-left: 8px;
							flex-grow: 0;
						}

						.tags {
							overflow-y: hidden; 
							overflow-x: auto;
							.hide-scrollbar(); 
							position: relative;
							flex-grow: 1;
							flex-shrink: 1;
							.inline-tags {
								position: absolute;
								display: flex;
								flex-direction: row;
								li {
									margin-left: 4px;
									overflow: hidden;
								}
								&:first-child { margin-left: 0; }
							}
						}
					}
				}
			}
		}

		.taglist {
			margin-top: 15px;
			text-align: center;
			cursor: pointer;
		}

		.glass {
			opacity: 0.7;
			width: 100%;
			height: 100%;
			position: absolute;
			background-color: @console-bg;
			top:0;
			left:0;
			z-index: 0;
		}
	}	
}


.tag-editor {
	position: absolute;
	border: 1px solid @console-color;
	margin: auto;
	top: 0; bottom: 50px; left: 0; right: 0;
	overflow: hidden;
	background-color: @console-bg;
	border-radius: 23px;
	display: flex;
	flex-direction: column;

	.app-dialog-dimensions();

	.tags-toolbar {
		margin-top: 20px;
		margin-bottom: 20px;
		border-bottom: 1px solid @console-color;
		display: flex;
		flex-direction: column;

		.filtering {
			display: flex;
			align-items: center;
			justify-content: center;
			margin-top: 20px;
			margin-bottom: 20px;

			input.search-box {
				background-color: transparent;
				border: none;
				font-size: 24px;
				-webkit-font-smoothing: none;
				line-height: 1.2;
				color: @console-color;
				font-family: 'VT323';
				text-transform: uppercase;
				border: 1px solid darken(@console-color, 30%);
				max-width: 260px;
			}								
		}

		.buttons {
			display: flex;
			align-items: center;
			justify-content: center;
			padding-bottom: 10px;
			.all-tags, .gata, .mode {
				padding: 10px;
				border: 2px solid @console-color;
				text-align: center;
				cursor: pointer;
				max-width: 70px;
				margin-left: 10px;
				&.selected {
					background-color: @console-color;
					color: @console-bg;
				}
			}
		}		
	}

	.min-button {
		position: absolute;
		right: 4px;
		top: 4px;
	}

	.tags-container {
		height:100%;
		width:100%;
		overflow-y: auto;
 	   .hide-scrollbar();
	}

	ul.tags {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		align-content: space-around;
		li.tag {
			background-color: @console-bg;
			padding: 10px;
			border: 1px solid @console-color;
			margin: 10px;
			cursor: pointer;
			&.selected {
				background-color: @console-color;
				color: @console-bg;
			}
			opacity: 1;
		}
	}
}