
ul.items {
	li {}

	.media-item {
		.description {
			margin-left: 10px;
		}
		a {
			border-bottom: 1px groove #999;
		}
	}
    margin: auto;
}


.media-items {
	display: flex; 
	flex-flow: column;
	justify-content: left; 
	@media (max-width: 478px) {
	}
}



.media-items > .menu {
	min-width: 240px;
}

.menu {
	.title a {
		//text-align: center;
		width: 100%;
		display: block;
		&.opened{
			font-size: 2.1rem;
		}
		cursor: pointer;
		text-decoration: underline;
	}
	ul {
	}
	ul.items {
		//padding-left: 10px;
		li {
			margin-left: 20px;
		}
	}
}